{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Admin Dashboard</h1>
          <p class="lead">Manage BT Real Estate Users</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Admin</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.first_name }}</h2>
          {% if users %}
            <p>Here are the System registered Users</p>
            <div class="card">
              <div class="card-body shadow">
                <div class="table-responsive">
                    <table id="table_id" class="display">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Staff Status</th>
                        <th></th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.is_staff %}
                                    <span><i class="fa fa-check-circle text-secondary"></i></span>
                                {% else %}
                                    <span><i class="fa fa-times-circle text-danger"></i></span>
                                {% endif %} 
                            </td>
                            <td>
                              <a class="btn btn-primary" href="{% url 'edit-user' user.id %}">
                                <i class="fas fa-edit"></i> Edit
                              </a>
                            </td>
                            <td>
                              <a class="btn btn-danger" href="{% url 'delete-user' user.id %}">
                                <i class="fas fa-trash"></i> Delete
                              </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
              </div>
            </div>
          {% else %}
            <p>There are no Users Now?</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}